.header {
  width: 100%;
  background: #8d9c7f;
  border-bottom: 5px solid #738365;
}
.header h1 {
  width: 40%;
  text-align: center;
  color: #414939;
}
.header .wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
}
